.tab-bar {
  background-color: #FF0836;
}
.tab-bar .left-small,
.tab-bar .right-small {
  border: 0;
}
.off-canvas-wrap > .inner-wrap {
  height: 100%;
}
.left-off-canvas-menu {
  background-color: #2A8BB2;
}
.left-off-canvas-menu li > a {
  background-color: #1B99CC;
}
ul.off-canvas-list li a {
  border: 0;
  color: white;
}
ul.off-canvas-list li > label {
  padding: 0px;
  background-color: #2A8BB2;
}
.off-canvas-wrap {
  height: 100%;
  
}
.tab-bar-icon {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
}

.main-section {
  height: 100%;
  background-color: #B2203B;
  padding-top: 10px;
}


.wishlist-li {
  margin: 1px 10px;
  background-color: white;
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: 0;
  height: 3em;
  color: #666;
  text-indent: 15px;
  padding: 12px;
  
}
.wishlist-li .fi-heart {
  display: block;
  float: right;
  font-size: 22px;
  color: #B2203B;
  line-height: 15px;
}
.wishlist-li .fi-heart.active {
  color: #FF0836;
}
.wishlist-li .fi-heart i {
  color: #444;
  font-size: 10px;
  vertical-align: bottom;
  
}

.wishlist-li a {
  
}